button {
  cursor: pointer;
}

.subjects-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subjects-page .subjects-main-introduction {
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 100%;
}
.subjects-page .subjects-main-introduction .subjects-main-introduction-title {
  font-size: 5rem;
}
.subjects-page .subjects-main-introduction .subjects-main-introduction-title-underline {
  color: #062D73;
}
.subjects-page .subjects-main-introduction .subjects-main-introduction-description {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #909090;
}
.subjects-page .subjects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1080px;
  margin-top: 7rem;
}
.subjects-page .subjects-content .subject-sem-name {
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 5rem;
  color: #062D73;
}
.subjects-page .subjects-content .subject-path-starting {
  margin-right: 350px;
}
.subjects-page .subjects-content .subject-frame {
  position: relative;
  width: 100%;
}
.subjects-page .subjects-content .subject-frame .box {
  position: relative;
  margin: auto;
  width: -moz-min-content;
  width: min-content;
}
.subjects-page .subjects-content .subject-frame .box .subject-info {
  display: flex;
  gap: 1rem;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
}
.subjects-page .subjects-content .subject-frame .box .subject-info .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  height: 80px;
  padding: 12px 24px;
  border-radius: 24px;
  color: white;
  background: #062D73;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 900;
}
.subjects-page .subjects-content .subject-frame .box .subject-info .info-box span {
  font-size: 1rem;
  font-weight: normal;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  height: 142px;
  padding: 32px 40px;
  text-decoration: none;
  color: black;
  border-radius: 24px;
  border: 3px solid #062D73;
  background: #F0F5FF;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  text-align: center;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-box:hover {
  cursor: pointer;
  background-color: #dce0e7;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid #062D73;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  color: #062D73;
  text-align: center;
  text-decoration: none;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-skill-path {
  position: absolute;
  z-index: -10;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(2) {
  right: 400px;
  top: 150px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(3) {
  left: 390px;
  top: 160px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(4) {
  right: 390px;
  top: 350px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(5) {
  left: 380px;
  top: 312px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-skill-path:nth-of-type(1) {
  right: 330px;
  top: 180px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-skill-path:nth-of-type(2) {
  left: 335px;
  top: 190px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-skill-path:nth-of-type(3) {
  right: 335px;
  top: 320px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-skill-path:nth-of-type(4) {
  left: 325px;
  top: 340px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:hover {
  cursor: pointer;
  background-color: #062D73;
  color: white;
}
.subjects-page .subjects-content .subject-frame .skill-description {
  position: absolute;
  margin-bottom: 220px;
  font-size: 1.2rem;
  text-align: justify;
  width: 500px;
}
.subjects-page .subjects-content .subject-frame .skill-description .title {
  color: #062D73;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.subjects-page .subjects-content .subject-frame .skill-description:last-child {
  margin-bottom: 0;
}
.subjects-page .subjects-content .subject-frame .subjects-path-right, .subjects-page .subjects-content .subject-frame .subjects-path-left {
  margin-left: 155px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(1) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(1) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(2) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(2) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(3) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(3) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(4) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(4) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(5) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(5) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(6) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(6) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(7) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(7) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(8) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(8) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(9) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(9) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(10) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(10) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(11) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(11) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(12) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(12) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(13) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(13) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(14) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(14) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(15) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(15) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(16) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(16) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(17) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(17) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(18) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(18) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(19) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(19) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(20) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(20) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(21) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(21) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-path-ending-left {
  margin-left: 300px;
}
.subjects-page .subjects-content .subject-path-ending-right {
  margin-right: 300px;
}
.subjects-page .subjects-content .subject-next-sem-name {
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 5rem;
  background: -webkit-linear-gradient(#062D73, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subjects-page .subjects-path-right-phone, .subjects-page .subjects-path-left-phone {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .subjects-page .subjects-main-introduction {
    margin-top: 2rem;
    margin-left: 1.5rem;
  }
  .subjects-page .subjects-main-introduction .subjects-main-introduction-title {
    font-size: 2.5rem;
    padding-right: 0.5em;
  }
  .subjects-page .subjects-main-introduction .subjects-main-introduction-title-underline {
    width: 50%;
  }
  .subjects-page .subjects-main-introduction .subjects-main-introduction-description {
    margin-top: 0.75rem;
    font-size: 1rem;
    padding-right: 0.5em;
  }
  .subjects-page .subjects-content {
    margin-inline: 0.7rem;
    width: 540px;
    margin-top: 3.5rem;
  }
  .subjects-page .subjects-content .subject-sem-name {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
  .subjects-page .subjects-content .subject-path-starting {
    display: none;
    margin-right: 175px;
  }
  .subjects-page .subjects-content .subject-frame {
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .subjects-page .subjects-content .subject-frame .box {
    margin: 0;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-info {
    gap: 0.5rem;
    max-width: 166px;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-info .info-box {
    width: 32px;
    height: 32px;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 0.8571428571rem;
    font-weight: bold;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-info .info-box span {
    font-size: 0.6666666667rem;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-box {
    min-width: 0;
    height: 71px;
    width: 80px;
    padding: 32px 40px/2;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: black;
    border-radius: 24px;
    border: 3px solid #062D73;
    background: #F0F5FF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.1rem;
    border-radius: 22px;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.55rem;
    font-weight: bold;
    margin-top: 0.5rem;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    padding: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    border: 2px solid #062D73;
    width: 68px;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(2) {
    right: 178px;
    top: 80px;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(3) {
    left: 178px;
    top: 80px;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(4) {
    right: 178px;
    top: 200px;
  }
  .subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(5) {
    left: 178px;
    top: 200px;
  }
  .subjects-page .subjects-content .subject-frame .skill-box:hover {
    cursor: pointer;
    background-color: #062D73;
    color: white;
  }
  .subjects-page .subjects-content .subject-frame .skill-description {
    display: none;
    align-self: center;
    max-width: 40%;
    top: 20%;
    font-size: 10px;
    width: 250px;
  }
  .subjects-page .subjects-content .subject-frame .skill-description .title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .subjects-page .subjects-content .subject-path-ending-left, .subjects-page .subjects-content .subject-path-ending-right, .subjects-page .subjects-content .subjects-path-right, .subjects-page .subjects-content .subjects-path-left {
    display: none;
  }
  .subjects-page .subjects-content .subjects-path-right-phone, .subjects-page .subjects-content .subjects-path-left-phone {
    display: block;
    position: absolute;
    width: 8.5rem;
    top: 232px;
  }
  .subjects-page .subjects-content .subject-next-sem-name {
    font-size: 2.5rem;
  }
  .subject-skill-path {
    display: none;
  }
}/*# sourceMappingURL=subjects.css.map */