button {
  cursor: pointer;
}

.pick-semester {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 1rem;
}
.pick-semester .semester-content {
  width: 1080px;
}
.pick-semester .semester-content .semester-entry {
  position: relative;
  font-size: 4rem;
  color: #062D73;
  margin-top: 5rem;
  width: 100%;
}
.pick-semester .semester-content .semester-entry .semester-description {
  margin-top: 0.5rem;
  color: #909090;
  font-size: 1.6rem;
}
.pick-semester .semester-content .semester-entry .semester-back-button {
  position: absolute;
  right: 0;
}
.pick-semester .semester-content .semester-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.pick-semester .semester-content .semester-section .semester-box-1 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-1 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-1 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-2 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-2 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-2 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-3 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-3 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-3 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-4 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-4 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-4 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-5 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-5 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-5 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-6 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-6 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-6 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-7 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-7 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-7 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-8 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-8 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-8 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-9 {
  position: relative;
  margin-bottom: 280px;
}
.pick-semester .semester-content .semester-section .path-9 {
  position: absolute;
  z-index: -1;
}
.pick-semester .semester-content .semester-section .semester-year-box-9 {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
}
.pick-semester .semester-content .semester-section .semester-box-1 .path-1 {
  bottom: 182px;
  left: 430px;
}
.pick-semester .semester-content .semester-section .semester-box-1 .semester-year-box-1 {
  bottom: 259px;
}
.pick-semester .semester-content .semester-section .semester-box-1 .semester-year-box-1 .icon {
  margin-right: 10px;
}
.pick-semester .semester-content .semester-section .semester-box-2 {
  margin-top: 2.5rem;
}
.pick-semester .semester-content .semester-section .semester-box-2 .path-2 {
  top: 172px;
  left: 135px;
}
.pick-semester .semester-content .semester-section .semester-box-2 .semester-year-box-2 {
  top: 339px;
  right: 365px;
}
.pick-semester .semester-content .semester-section .semester-box-2 .semester-year-box-2 .icon {
  position: absolute;
  top: -15px;
  left: -80px;
}
.pick-semester .semester-content .semester-section .semester-box-3 .path-3 {
  bottom: calc(204px + 10rem);
  left: 125px;
}
.pick-semester .semester-content .semester-section .semester-box-3 .path-4 {
  top: 204px;
  left: 111px;
}
.pick-semester .semester-content .semester-section .semester-box-4 {
  margin-top: 10rem;
}
.pick-semester .semester-content .semester-section .semester-box-4 .path-5 {
  top: 204px;
}
.pick-semester .semester-content .semester-section .semester-box-4 .semester-year-box-3 {
  top: 354px;
  right: 350px;
}
.pick-semester .semester-content .semester-section .semester-box-4 .semester-year-box-3 .icon {
  position: absolute;
  top: 2px;
  left: -60px;
}
.pick-semester .semester-content .semester-section .semester-box-5 {
  margin-top: -1rem;
}
.pick-semester .semester-content .semester-section .semester-box-5 .path-6 {
  bottom: 424px;
  left: 350px;
}
.pick-semester .semester-content .semester-section .semester-box-5 .path-7 {
  bottom: 204px;
  left: 430px;
}
.pick-semester .semester-content .semester-section .semester-box-6 {
  margin-top: 204px;
}
.pick-semester .semester-content .semester-section .semester-box-6 .path-8 {
  top: 32px;
  right: 430px;
}
.pick-semester .semester-content .semester-section .semester-box-6 .semester-year-box-4 {
  bottom: -75px;
  right: 630px;
}
.pick-semester .semester-content .semester-section .semester-box-6 .path-9 {
  top: 289px;
  right: 395px;
}
.pick-semester .semester-content .semester-year-name {
  color: #3371FD;
  font-size: 30px;
  font-weight: bold;
}
.pick-semester .semester-content .semester-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #062D73 3px solid;
  background-color: #F0F5FF;
  z-index: 2;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 15px;
  color: #062D73;
  font-size: 2.25rem;
  width: 350px;
  height: 140px;
  padding-inline: 40px;
  padding-block: 32px;
}
.pick-semester .semester-content .semester-button span {
  align-self: stretch;
}
.pick-semester .semester-content .semester-button:hover {
  background-color: #062D73;
  color: white;
}
.pick-semester .semester-content .semester-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}
.pick-semester .semester-content .semester-bachelor-project {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
  background: -webkit-linear-gradient(#062D73, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1000px) {
  .pick-semester .semester-content {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin-top: 4rem;
    margin-inline: 1rem;
  }
  .pick-semester .semester-content .semester-entry {
    width: 100%;
    font-size: 2.3em;
    margin-top: 0;
  }
  .pick-semester .semester-content .semester-entry .semester-description {
    font-size: 1.2rem;
  }
  .pick-semester .semester-content .semester-entry .semester-back-arrow {
    width: 40px;
  }
  .pick-semester .semester-content .semester-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
    width: 100%;
  }
  .pick-semester .semester-content .semester-section .semester-box-1 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-1 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-1 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-1 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-2 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-2 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-2 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-2 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-3 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-3 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-3 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-3 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-4 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-4 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-4 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-4 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-5 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-5 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-5 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-5 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-6 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-6 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-6 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-6 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-7 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-7 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-7 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-7 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-8 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-8 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-8 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-8 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-box-9 {
    position: relative;
    margin: 0;
    margin-bottom: 5rem;
  }
  .pick-semester .semester-content .semester-section .semester-box-9 .semester-button {
    width: 100%;
    padding-inline: 0;
    font-weight: bold;
  }
  .pick-semester .semester-content .semester-section .path-9 {
    display: none;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-9 {
    position: absolute;
  }
  .pick-semester .semester-content .semester-section .semester-year-name {
    font-size: 25px;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-1 {
    top: -60px;
    right: -120px;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-2, .pick-semester .semester-content .semester-section .semester-year-box-3 {
    top: 230px !important;
    left: -90px;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-3 .icon {
    top: -2px !important;
  }
  .pick-semester .semester-content .semester-section .semester-year-box-4 {
    top: 210px !important;
    left: -160px;
  }
  .pick-semester .semester-content .semester-section .semester-button {
    font-size: 1.3em;
    width: 9em;
    height: 3em;
  }
  .pick-semester .semester-content .semester-section .mobile-path {
    position: absolute;
    bottom: -50px;
    left: -65px;
  }
  .pick-semester .semester-content .semester-bachelor-project {
    width: 100%;
    margin-top: 5rem;
    font-size: 2.6666666667rem;
    text-align: center;
  }
}/*# sourceMappingURL=pick-semester.css.map */