@import "../../../consts/consts.scss";

$nav-bar-background-color: #062D731F;


// ---- parameters ----
$nav-bar-padding-left: 3rem;
$nav-bar-padding-top: 2rem;
$nav-bar-buttons-gap: 2rem;
$nav-bar-height: 4rem;
$nav-bar-font-size: 1.25rem;
$nav-bar-button-up-down-padding: 0.5rem;
$nav-bar-button-side-padding: 3rem;
$nav-bar-border-bottom: 1px solid $main-color;
$nav-bar-buttons-margin-right: 4rem;
// $nav-bar-bottom-margin: 5rem;

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: $nav-bar-height;
    padding-left: $nav-bar-padding-left;
    padding-top: $nav-bar-padding-top;
    gap: $nav-bar-buttons-gap;
    // background-color: $nav-bar-background-color;
    // border-bottom: $nav-bar-border-bottom;


    .main-page-button, .previous-site-button, .next-site-button {        
        border: none;
        
        margin-right: $nav-bar-buttons-margin-right;
        text-decoration: none;
        border-radius: $main-border-radius;
        padding: $nav-bar-button-up-down-padding;
        padding-left: $nav-bar-button-side-padding;
        padding-right: $nav-bar-button-side-padding;
        color: $white-text-color;
        background-color: $main-color;
        font-size: $nav-bar-font-size;
    }

    .main-page-button:hover, .previous-site-button:hover, .next-site-button:hover {
        background-color: $main-color-active-button;
    }

    // margin-bottom: $nav-bar-bottom-margin;
}

@media only screen and (max-width: 1080px) {
    .nav-bar {
        display: none;
        // padding-left: 1em;
        // width: 30em;
        // .main-page-button, .previous-site-button, .next-site-button {
        //     font-size: 0.7em;
        //     padding-left: 1.7em;
        //     padding-right: 1.7em;
        //     margin-right: 2.5em;
        //     border-radius: 12px;
        // }
    }
}