@import "../consts/consts.scss";

.body {    
    .main-page {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        margin-top: 20rem;
        color: $black-text-color;
        font-size: 2.5rem;
    }
}

// @media only screen and (max-width: 768px){
//     .body {    
//         .main-page {
//             display: flex;
//             align-items: center;
//             justify-content: center;
    
//             height: 50%;
//             margin-top: 2px;
//             color: pink;
//             font-size: 2.5px;
//         }
//     }
// }
