@import "../../../consts/consts.scss";

// ---- parameters ----
$footer-height: 7rem;
$footer-margin-top: 4.5rem;

.footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  text-align: left;
  padding: 4em;
  gap: 7em;
  background-color: $main-color;
  color: $white-text-color;
  .first-column {
    display: flex;
    flex-direction: column;
    min-width: 14em;
    .footer-icon {
      background-color: transparent;
      border: none;
      width: 3em;
      img {
        width: 65px;
        height: 65px;
      }
    }
    .faculty {
      font-weight: 600;
      font-size: 1.1em;
      padding-top: 1.5em;
    }
    .adress-mail-telephone {
      display: flex;
      flex-direction: column;
      margin-bottom: 4em;
      span {
        margin-top: 1em;
        font-size: 0.8em;
      }
    }

    .facebook {
      display: flex;
      flex-direction: column;
      .faculty-facebook {
        display: flex;
        align-items: center;

        .faculty-facebook-icon {
          background-color: transparent;
          border: none;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .footer-faculty-facebook-icon-link {
          color: $white-text-color;
          text-decoration: none;
          font-size: 0.8em;
          padding-left: 0.5em;
        }
        .footer-faculty-facebook-icon-link:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .office-facebook {
        display: flex;
        align-items: center;

        .office-facebook-icon {
          background-color: transparent;
          border: none;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .footer-office-facebook-icon-link {
          color: $white-text-color;
          text-decoration: none;
          font-size: 0.8em;
          padding-left: 0.5em;
        }

        .footer-office-facebook-icon-link:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .information-about {
    display: inline;
    .information-about-inscription {
      font-size: 1.1em;
      font-weight: bold;
      padding-bottom: 0.5em;
    }
    .information-about-inscriptions {
      display: flex;
      flex-direction: column;
      .footer-information-about-inscriptions-link {
        color: $white-text-color;
        text-decoration: none;
        font-size: 0.8em;
        padding-top: 0.7em;
        min-width: 12em;
      }
      .footer-information-about-inscriptions-link:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .information-for {
    display: inline;
    .information-for-inscription {
      font-size: 1.1em;
      font-weight: bold;
      padding-bottom: 0.5em;
    }
    .information-for-inscriptions {
      display: flex;
      flex-direction: column;
      .footer-information-for-inscriptions-link {
        color: $white-text-color;
        text-decoration: none;
        font-size: 0.8em;
        padding-top: 0.7em;
        min-width: 9em;
      }
      .footer-information-for-inscriptions-link:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .other {
    display: inline;
    .other-inscription {
      font-size: 1.1em;
      font-weight: bold;
      padding-bottom: 0.5em;
    }
    .other-inscriptions {
      display: flex;
      flex-direction: column;
      .footer-other-inscriptions-link {
        color: $white-text-color;
        text-decoration: none;
        font-size: 0.8em;
        padding-top: 0.7em;
        min-width: 8em;
      }
      .footer-other-inscriptions-link:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and ((min-width: 700px) and (max-width: 1000px)) {
  .footer {
    padding-right: 1em;
    padding-left: 1em;
    gap: 2em;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    gap: 1em;
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    .first-column {
      width: auto;
      padding-bottom: 2em;
      .footer-icon {
        margin-top: 0em;
      }
    }
    .information-about {
      padding-bottom: 2em;
    }
    .information-for {
      padding-bottom: 2em;
    }
  }
}
