button {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  text-align: left;
  padding: 4em;
  gap: 7em;
  background-color: #062D73;
  color: white;
}
.footer .first-column {
  display: flex;
  flex-direction: column;
  min-width: 14em;
}
.footer .first-column .footer-icon {
  background-color: transparent;
  border: none;
  width: 3em;
}
.footer .first-column .footer-icon img {
  width: 65px;
  height: 65px;
}
.footer .first-column .faculty {
  font-weight: 600;
  font-size: 1.1em;
  padding-top: 1.5em;
}
.footer .first-column .adress-mail-telephone {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.footer .first-column .adress-mail-telephone span {
  margin-top: 1em;
  font-size: 0.8em;
}
.footer .first-column .facebook {
  display: flex;
  flex-direction: column;
}
.footer .first-column .facebook .faculty-facebook {
  display: flex;
  align-items: center;
}
.footer .first-column .facebook .faculty-facebook .faculty-facebook-icon {
  background-color: transparent;
  border: none;
}
.footer .first-column .facebook .faculty-facebook .faculty-facebook-icon img {
  width: 25px;
  height: 25px;
}
.footer .first-column .facebook .faculty-facebook .footer-faculty-facebook-icon-link {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  padding-left: 0.5em;
}
.footer .first-column .facebook .faculty-facebook .footer-faculty-facebook-icon-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .first-column .facebook .office-facebook {
  display: flex;
  align-items: center;
}
.footer .first-column .facebook .office-facebook .office-facebook-icon {
  background-color: transparent;
  border: none;
}
.footer .first-column .facebook .office-facebook .office-facebook-icon img {
  width: 25px;
  height: 25px;
}
.footer .first-column .facebook .office-facebook .footer-office-facebook-icon-link {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  padding-left: 0.5em;
}
.footer .first-column .facebook .office-facebook .footer-office-facebook-icon-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .information-about {
  display: inline;
}
.footer .information-about .information-about-inscription {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.footer .information-about .information-about-inscriptions {
  display: flex;
  flex-direction: column;
}
.footer .information-about .information-about-inscriptions .footer-information-about-inscriptions-link {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  padding-top: 0.7em;
  min-width: 12em;
}
.footer .information-about .information-about-inscriptions .footer-information-about-inscriptions-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .information-for {
  display: inline;
}
.footer .information-for .information-for-inscription {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.footer .information-for .information-for-inscriptions {
  display: flex;
  flex-direction: column;
}
.footer .information-for .information-for-inscriptions .footer-information-for-inscriptions-link {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  padding-top: 0.7em;
  min-width: 9em;
}
.footer .information-for .information-for-inscriptions .footer-information-for-inscriptions-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .other {
  display: inline;
}
.footer .other .other-inscription {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.footer .other .other-inscriptions {
  display: flex;
  flex-direction: column;
}
.footer .other .other-inscriptions .footer-other-inscriptions-link {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  padding-top: 0.7em;
  min-width: 8em;
}
.footer .other .other-inscriptions .footer-other-inscriptions-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and ((min-width: 700px) and (max-width: 1000px)) {
  .footer {
    padding-right: 1em;
    padding-left: 1em;
    gap: 2em;
  }
}
@media only screen and (max-width: 800px) {
  .footer {
    gap: 1em;
  }
}
@media only screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
  .footer .first-column {
    width: auto;
    padding-bottom: 2em;
  }
  .footer .first-column .footer-icon {
    margin-top: 0em;
  }
  .footer .information-about {
    padding-bottom: 2em;
  }
  .footer .information-for {
    padding-bottom: 2em;
  }
}/*# sourceMappingURL=footer.css.map */