button {
  cursor: pointer;
}

.subjects-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subjects-page .subjects-main-introduction {
  margin-top: 4rem;
  margin-left: 3rem;
  width: 100%;
}
.subjects-page .subjects-main-introduction .subjects-main-introduction-title {
  font-size: 5rem;
}
.subjects-page .subjects-main-introduction .subjects-main-introduction-title-underline {
  color: #062D73;
}
.subjects-page .subjects-main-introduction .subjects-main-introduction-description {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #909090;
}
.subjects-page .subjects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1080px;
  margin-top: 7rem;
}
.subjects-page .subjects-content .subject-sem-name {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: #062D73;
}
.subjects-page .subjects-content .subject-path-starting {
  margin-right: 350px;
}
.subjects-page .subjects-content .subject-frame {
  position: relative;
  width: 100%;
}
.subjects-page .subjects-content .subject-frame .box {
  position: relative;
  margin: auto;
  width: -moz-min-content;
  width: min-content;
}
.subjects-page .subjects-content .subject-frame .box .subject-info {
  display: flex;
  gap: 1rem;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
}
.subjects-page .subjects-content .subject-frame .box .subject-info .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  height: 80px;
  padding: 12px 24px;
  border-radius: 24px;
  color: white;
  background: #062D73;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 900;
}
.subjects-page .subjects-content .subject-frame .box .subject-info .info-box span {
  font-size: 1rem;
  font-weight: normal;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  height: 142px;
  padding: 32px 40px;
  text-decoration: none;
  color: black;
  border-radius: 24px;
  border: 3px solid #062D73;
  background: #F0F5FF;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  text-align: center;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .subject-box:hover {
  cursor: pointer;
  background-color: #dce0e7;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box {
  display: flex;
  align-items: center;
  position: absolute;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid #062D73;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(1) {
  right: 400px;
  top: 150px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(2) {
  left: 390px;
  top: 160px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(3) {
  right: 390px;
  top: 360px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:nth-of-type(4) {
  left: 380px;
  top: 325px;
}
.subjects-page .subjects-content .subject-frame .box .subject-box-content .skill-box:hover {
  cursor: pointer;
  background-color: #062D73;
  color: white;
}
.subjects-page .subjects-content .subject-frame .skill-description {
  position: absolute;
  font-size: 1.2rem;
  width: 500px;
}
.subjects-page .subjects-content .subject-frame .skill-description .title {
  color: #062D73;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.subjects-page .subjects-content .subject-frame .subjects-path-right, .subjects-page .subjects-content .subject-frame .subjects-path-left {
  margin-left: 155px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(1) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(1) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(2) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(2) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(3) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(3) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(4) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(4) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(5) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(5) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(6) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(6) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(7) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(7) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(8) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(8) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(9) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(9) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(10) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(10) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(11) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(11) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(12) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(12) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(13) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(13) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(14) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(14) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(15) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(15) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(16) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(16) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(17) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(17) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(18) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(18) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(19) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(19) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(20) .box {
  margin-left: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(20) .skill-description {
  right: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(21) .box {
  margin-right: 0;
}
.subjects-page .subjects-content .subject-frame:nth-of-type(21) .skill-description {
  left: 0;
  bottom: 35px;
}
.subjects-page .subjects-content .subject-path-ending {
  margin-left: 300px;
}
.subjects-page .subjects-content .subject-next-sem-name {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  background: -webkit-linear-gradient(#062D73, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=subjects.css.map */