button {
  cursor: pointer;
}

.component-subject-description {
  display: flex;
  position: absolute;
  z-index: 5;
  width: 100%;
  background-color: rgba(78, 78, 78, 0.49);
}
.component-subject-description .component-subject-transparent {
  width: 65%;
}
.component-subject-description .component-subject-non-transparent {
  width: calc(35% - 3px);
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: white;
  border-left: 3px solid #062D73;
  padding: 4rem;
  color: black;
  font-size: 22px;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-exit-arrow {
  display: none;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-title {
  color: #062D73;
  font-size: 60px;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-description {
  margin-top: 3rem;
  line-height: 33px;
  letter-spacing: 1.5px;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-subject-language {
  line-height: 33px;
  letter-spacing: 1.5px;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-subject-description-title {
  margin-top: 3.5rem;
  font-weight: bold;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-subject-description-professor-site {
  cursor: pointer;
  color: #011946;
  text-decoration: none;
  font-weight: bold;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-sylabus {
  margin: auto;
  margin-top: 4rem;
  width: 75%;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  background: #062D73;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-sylabus .component-subject-non-transparent-sylabus-link {
  color: white;
  text-decoration: none;
}
.component-subject-description .component-subject-non-transparent .component-subject-non-transparent-sylabus:hover {
  cursor: pointer;
  background-color: #011946;
}

@media only screen and (max-width: 1080px) {
  .component-subject-description {
    display: flex;
    gap: 0;
    justify-content: space-around;
    width: auto;
  }
  .component-subject-description .component-subject-transparent {
    display: none;
  }
  .component-subject-description .component-subject-non-transparent {
    width: 100%;
    border: none;
    padding: 1.5rem;
    font-size: 1rem;
  }
  .component-subject-description .component-subject-non-transparent .component-subject-non-transparent-exit-arrow {
    display: block;
    width: 2rem;
  }
  .component-subject-description .component-subject-non-transparent .component-subject-non-transparent-title {
    margin-top: 2rem;
    font-size: 2.2rem;
  }
  .component-subject-description .component-subject-non-transparent .component-subject-non-transparent-description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    line-height: 21px;
    width: auto;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .component-subject-description .component-subject-non-transparent .component-subject-non-transparent-subject-description {
    font-size: 1.4rem;
  }
  .component-subject-description .component-subject-non-transparent .component-subject-non-transparent-subject-description-title {
    margin-top: 1rem;
  }
  .component-subject-description .component-subject-non-transparent .component-subject-non-transparent-sylabus {
    margin-top: 3rem;
  }
}
.component-subject-description .component-subject-non-transparent {
  transform: none !important;
}/*# sourceMappingURL=subject-description.css.map */