@import "../../../consts/consts.scss";

$component-subject-description-transparent-background: rgba(78, 78, 78, 0.49);
$component-subject-description-transparent-width: 65%;
$component-subject-description-transparent-border-left-width: 3px;
$component-subject-description-transparent-border-left: $component-subject-description-transparent-border-left-width solid $main-color; 
$component-subject-description-transparent-padding: 4rem; 
$component-subject-description-transparent-title-font-size: 60px;
$component-subject-description-transparent-description-font-size: 22px;
$component-subject-description-transparent-description-margin-top: 3rem;
$component-subject-description-transparent-description-letter-spacing: 1.5px;
$component-subject-description-transparent-description-line-height: 33px;
$component-subject-description-transparent-subject-language-margin-top: 3.5rem;
$component-subject-non-transparent-sylabus-border-radius: 20px;
$component-subject-non-transparent-sylabus-margin-top: 4rem;
$component-subject-non-transparent-sylabus-letter-spacing: 2px;
$component-subject-non-transparent-sylabus-padding: 1rem;


.component-subject-description {
    display: flex;
    position: absolute;
    z-index: 5;

    width: 100%;

    background-color: $component-subject-description-transparent-background;

    .component-subject-transparent {
        width: $component-subject-description-transparent-width;
    }

    .component-subject-non-transparent{
        width: calc(100% - $component-subject-description-transparent-width - $component-subject-description-transparent-border-left-width);
        height: 100vh;

        position: sticky;
        top: 0;

        background-color: $background-color;
        border-left: $component-subject-description-transparent-border-left;
        padding: $component-subject-description-transparent-padding;

        color: $black-text-color;
        font-size: $component-subject-description-transparent-description-font-size;

        .component-subject-non-transparent-exit-arrow {
            display: none;
        }

        .component-subject-non-transparent-title {
            color: $main-color;
            font-size: $component-subject-description-transparent-title-font-size;
        }

        .component-subject-non-transparent-description {
            margin-top: $component-subject-description-transparent-description-margin-top;

            line-height: $component-subject-description-transparent-description-line-height;
            letter-spacing:
            $component-subject-description-transparent-description-letter-spacing;
        }

        .component-subject-non-transparent-subject-language {
            line-height: $component-subject-description-transparent-description-line-height;
            letter-spacing:
            $component-subject-description-transparent-description-letter-spacing;
        }

        .component-subject-non-transparent-subject-description-title {
            margin-top: $component-subject-description-transparent-subject-language-margin-top;
            font-weight: bold;
        }

        .component-subject-non-transparent-subject-description-professor-site {
            cursor: pointer;
            color:$main-color-active-button;
            text-decoration: none;
            font-weight: bold;
        }

        .component-subject-non-transparent-sylabus {
            margin: auto;
            margin-top: $component-subject-non-transparent-sylabus-margin-top;

            width: 75%;
            padding: $component-subject-non-transparent-sylabus-padding;
            text-align: center;
            border-radius: $component-subject-non-transparent-sylabus-border-radius;
            background: $main-color; 
            color: $white-text-color;
            letter-spacing: $component-subject-non-transparent-sylabus-letter-spacing;
            font-weight: bold;

            .component-subject-non-transparent-sylabus-link {
                color: $white-text-color;
                text-decoration: none;
            }
        }

        .component-subject-non-transparent-sylabus:hover {
            cursor: pointer;
            background-color: $main-color-active-button;
        }
    }
}   

@media only screen and (max-width: 1080px) {
    
    .component-subject-description {
        display: flex;
        gap: 0;
        justify-content: space-around;
        width: auto;

        .component-subject-transparent {
            display: none;
        }
        
        .component-subject-non-transparent {
            width: 100%;
            border: none;
            padding: 1.5rem;
            font-size: 1rem;

            .component-subject-non-transparent-exit-arrow {
                display: block;
                width: 2rem;
            }

            .component-subject-non-transparent-title {
                margin-top: 2rem;
                font-size: 2.2rem;
            }

            .component-subject-non-transparent-description {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 0.8rem;
                line-height: 21px;
                width: auto;
                text-align: justify;
                letter-spacing: 0.5px;
            }

            .component-subject-non-transparent-subject-description {
                font-size: 1.4rem;
            }

            .component-subject-non-transparent-subject-description-title {
                margin-top: 1rem;
            }

            .component-subject-non-transparent-sylabus {
                margin-top: 3rem;
            }
        }
    }
}

.component-subject-description .component-subject-non-transparent
{
  transform: none !important;
}

